<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="grp.faq.dao.AnswerMapper">
  <resultMap id="BaseResultMap" type="grp.faq.entity.Answer">
    <constructor>
      <idArg column="C_ANSID" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="C_UID" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="C_QID" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="C_ANS_TIME" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="C_ANS_CONTEXT" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="C_IS_DELETE" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="C_LAST_UPDATE" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="C_IS_FOLD" javaType="java.lang.Byte" jdbcType="TINYINT" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    C_ANSID, C_UID, C_QID, C_ANS_TIME, C_ANS_CONTEXT, C_IS_DELETE, C_LAST_UPDATE, C_IS_FOLD
  </sql>
<!--  def getTodayAnswer(): Int-->
  <select id="getTodayAnswer" resultType="java.lang.Long">
    select count(C_ANSID)
    from faq.TB_ANSWER
    where TO_DAYS(C_LAST_UPDATE) = TO_DAYS(NOW())
  </select>
<!--  def getAnswer(): Answer-->
  <select id="getAnswer" resultType="java.util.Map">
    select
        C_ANSID, TB_ANSWER.C_UID, C_QID, C_ANS_TIME, C_ANS_CONTEXT, C_LAST_UPDATE, TB_USER.C_USERNAME
    from faq.TB_ANSWER
    left join
        TB_USER
    on
        TB_USER.C_UID=TB_ANSWER.C_UID
    where TB_ANSWER.C_QID=#{qid} and TB_ANSWER.C_IS_DELETE=0 and TB_ANSWER.C_IS_FOLD=0
  </select>
<!--  def addAnswer(answer: Answer): Int-->
  <insert id="addAnswer" parameterType="grp.faq.entity.Answer">
    insert into
        faq.TB_ANSWER(C_ANSID, C_UID, C_QID, C_ANS_TIME, C_ANS_CONTEXT, C_IS_DELETE, C_LAST_UPDATE, C_IS_FOLD)
    values(#{cAnsid}, #{cUid}, #{cQid}, NOW(), #{cAnsContext}, 0, NOW(), 0)
  </insert>
<!--  def delete(ansid: Int): Int-->
  <update id="delete">
    update faq.TB_ANSWER
    set C_IS_DELETE=1
    where C_ANSID=#{ansid}
  </update>
<!--  def update(answer: Answer): Int-->
  <update id="update" parameterType="grp.faq.entity.Answer">
    update faq.TB_ANSWER
    set C_ANS_CONTEXT=#{cAnsContext}
    where C_ANSID=#{cAnsid}
  </update>
</mapper>
