<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="grp.faq.dao.CommentMapper" >
  <resultMap id="BaseResultMap" type="grp.faq.entity.Comment" >
    <constructor >
      <idArg column="C_COMID" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="C_UID" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="C_CONTEXT" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="C_CREATE_TIME" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="C_IS_DELETE" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="C_COM_TYPE" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="C_COMMON_ID" jdbcType="BIGINT" javaType="java.lang.Long" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    C_COMID, C_UID, C_CONTEXT, C_CREATE_TIME, C_IS_DELETE, C_COM_TYPE, C_COMMON_ID
  </sql>
<!--  def addComment(comment: Comment): Int-->
  <insert id="addComment" parameterType="grp.faq.entity.Comment">
    insert into
        faq.TB_COMMENT(C_COMID, C_UID, C_CONTEXT, C_CREATE_TIME, C_IS_DELETE, C_COM_TYPE, C_COMMON_ID)
    values(
           #{cComid}, #{cUid}, #{cContext}, NOW(), 0, #{cComType}, #{cCommonId}
          )
  </insert>
<!--  def getComment(commentType: Int, commentId: Int): util.List[util.Map[Object, Object]]-->
  <select id="getComment" resultType="java.util.Map">
    select * from 
        <if test="commentType==1">faq.TB_ARTICLE</if>
        <if test="commentType==2">faq.TB_ANSWER</if>
    where
      <if test="commentType==1">C_ARTID</if>
      <if test="commentType==2">C_ANSID</if>
        =#{commentId}
        and C_IS_DELETE=0
  </select>
</mapper>