<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="grp.faq.dao.PraiseMapper">
  <resultMap id="BaseResultMap" type="grp.faq.entity.Praise">
    <constructor>
      <idArg column="C_PRAISEID" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="C_UID" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="C_PRATYPE" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="C_COMMON_ID" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="C_IS_DELETE" javaType="java.lang.Byte" jdbcType="TINYINT" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    C_PRAISEID, C_UID, C_PRATYPE, C_COMMON_ID, C_IS_DELETE
  </sql>
<!--  def praise(praiseType: Int, id: Long, uid: Long): Int-->
  <insert id="praise" keyProperty="true" useGeneratedKeys="true">
    insert into faq.TB_PRAISE(C_PRAISEID, C_UID, C_PRATYPE, C_COMMON_ID, C_IS_DELETE)
    VALUES (null, #{uid}, #{type}, #{id}, 0)
  </insert>
</mapper>