<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="grp.faq.dao.QuestionMapper">
  <resultMap id="BaseResultMap" type="grp.faq.entity.Question">
    <constructor>
      <idArg column="C_QID" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="C_UID" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="C_Q_TITLE" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="C_CLOSE" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="C_CREATE_TIME" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="C_Q_CONTEXT" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="C_G_X" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="C_HOT" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
<!--  def getQuestionRank(@Param("index")index: Int): util.List[Question]-->
  <select id="getQuestionRank" resultType="grp.faq.entity.Question">
    select
        *
    from
        faq.TB_QUESTION
    where
        C_CLOSE=0
    order by
        C_HOT
    desc
    limit
        #{index}, 10
  </select>

<!--  def getTodayQuestion(): Long-->
  <select id="getTodayQuestion" resultType="java.lang.Long">
    select
           count(C_QID)
    from
        faq.TB_QUESTION
    where
      TO_DAYS(C_CREATE_TIME) = TO_DAYS(NOW())
  </select>
<!--    def addQuestion(question: Question): Int-->
    <insert id="addQuestion" parameterType="grp.faq.entity.Question">
        insert into
            faq.TB_QUESTION(C_QID, C_UID, C_Q_TITLE, C_CLOSE, C_CREATE_TIME, C_Q_CONTEXT, C_G_X, C_HOT)
        values(#{cQid}, #{cUid}, #{cQTitle}, 0, NOW(), #{cQContext}, 0, 0)
    </insert>
<!--    def getQuestion(question: Question): Question-->
    <select id="getQuestion" resultType="java.util.Map">
        select
            C_Q_TITLE, C_CREATE_TIME, C_HOT, C_Q_CONTEXT, TB_USER.C_USERNAME, COUNT(TB_ANSWER.C_ANSID) as C_COUNT
        from
             faq.TB_QUESTION
        left join
            faq.TB_USER
        on
            TB_QUESTION.C_UID = TB_USER.C_UID
        left join
            faq.TB_ANSWER
        on
            TB_QUESTION.C_QID = TB_ANSWER.C_QID
        where
              TB_QUESTION.C_QID=#{cQid}
    </select>
<!--    def getQuestionNumber(): Int-->
    <select id="getQuestionNumber" resultType="java.lang.Integer">
        select count(C_QID) from faq.TB_QUESTION
    </select>

</mapper>