<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="grp.faq.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="grp.faq.entity.User" >
    <constructor >
      <idArg column="C_UID" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="C_GID" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="C_ADMIN" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="C_USERNAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="C_PASSWORD" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="C_SCORE" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="C_LAST_LOGIN" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="C_MAIL_BOX" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="C_IS_DELETE" jdbcType="TINYINT" javaType="java.lang.Byte" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    C_UID, C_GID, C_ADMIN, C_USERNAME, C_PASSWORD, C_SCORE, C_LAST_LOGIN, C_MAIL_BOX, 
    C_IS_DELETE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Byte" >
    select 
    <include refid="Base_Column_List" />
    from TB_USER
    where C_UID = #{cUid,jdbcType=TINYINT}
  </select>
  <select id="login" resultType="grp.faq.entity.User">
    select 
    <include refid="Base_Column_List"/>
    from TB_USER
    where C_USERNAME=#{username} and
          C_PASSWORD=#{password}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Byte" >
    delete from TB_USER
    where C_UID = #{cUid,jdbcType=TINYINT}
  </delete>
  <insert id="insert" parameterType="grp.faq.entity.User" >
    insert into TB_USER (C_UID, C_GID, C_ADMIN, 
      C_USERNAME, C_PASSWORD, C_SCORE, 
      C_LAST_LOGIN, C_MAIL_BOX, C_IS_DELETE
      )
    values (#{cUid,jdbcType=TINYINT}, #{cGid,jdbcType=BIGINT}, #{cAdmin,jdbcType=TINYINT}, 
      #{cUsername,jdbcType=VARCHAR}, #{cPassword,jdbcType=VARCHAR}, #{cScore,jdbcType=BIGINT}, 
      #{cLastLogin,jdbcType=DATE}, #{cMailBox,jdbcType=VARCHAR}, #{cIsDelete,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="grp.faq.entity.User" >
    insert into TB_USER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cUid != null" >
        C_UID,
      </if>
      <if test="cGid != null" >
        C_GID,
      </if>
      <if test="cAdmin != null" >
        C_ADMIN,
      </if>
      <if test="cUsername != null" >
        C_USERNAME,
      </if>
      <if test="cPassword != null" >
        C_PASSWORD,
      </if>
      <if test="cScore != null" >
        C_SCORE,
      </if>
      <if test="cLastLogin != null" >
        C_LAST_LOGIN,
      </if>
      <if test="cMailBox != null" >
        C_MAIL_BOX,
      </if>
      <if test="cIsDelete != null" >
        C_IS_DELETE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cUid != null" >
        #{cUid,jdbcType=TINYINT},
      </if>
      <if test="cGid != null" >
        #{cGid,jdbcType=BIGINT},
      </if>
      <if test="cAdmin != null" >
        #{cAdmin,jdbcType=TINYINT},
      </if>
      <if test="cUsername != null" >
        #{cUsername,jdbcType=VARCHAR},
      </if>
      <if test="cPassword != null" >
        #{cPassword,jdbcType=VARCHAR},
      </if>
      <if test="cScore != null" >
        #{cScore,jdbcType=BIGINT},
      </if>
      <if test="cLastLogin != null" >
        #{cLastLogin,jdbcType=DATE},
      </if>
      <if test="cMailBox != null" >
        #{cMailBox,jdbcType=VARCHAR},
      </if>
      <if test="cIsDelete != null" >
        #{cIsDelete,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="grp.faq.entity.User" >
    update TB_USER
    <set >
      <if test="cGid != null" >
        C_GID = #{cGid,jdbcType=BIGINT},
      </if>
      <if test="cAdmin != null" >
        C_ADMIN = #{cAdmin,jdbcType=TINYINT},
      </if>
      <if test="cUsername != null" >
        C_USERNAME = #{cUsername,jdbcType=VARCHAR},
      </if>
      <if test="cPassword != null" >
        C_PASSWORD = #{cPassword,jdbcType=VARCHAR},
      </if>
      <if test="cScore != null" >
        C_SCORE = #{cScore,jdbcType=BIGINT},
      </if>
      <if test="cLastLogin != null" >
        C_LAST_LOGIN = #{cLastLogin,jdbcType=DATE},
      </if>
      <if test="cMailBox != null" >
        C_MAIL_BOX = #{cMailBox,jdbcType=VARCHAR},
      </if>
      <if test="cIsDelete != null" >
        C_IS_DELETE = #{cIsDelete,jdbcType=TINYINT},
      </if>
    </set>
    where C_UID = #{cUid,jdbcType=TINYINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="grp.faq.entity.User" >
    update TB_USER
    set C_GID = #{cGid,jdbcType=BIGINT},
      C_ADMIN = #{cAdmin,jdbcType=TINYINT},
      C_USERNAME = #{cUsername,jdbcType=VARCHAR},
      C_PASSWORD = #{cPassword,jdbcType=VARCHAR},
      C_SCORE = #{cScore,jdbcType=BIGINT},
      C_LAST_LOGIN = #{cLastLogin,jdbcType=DATE},
      C_MAIL_BOX = #{cMailBox,jdbcType=VARCHAR},
      C_IS_DELETE = #{cIsDelete,jdbcType=TINYINT}
    where C_UID = #{cUid,jdbcType=TINYINT}
  </update>
</mapper>