<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 打印查询语句 -->
		<setting name="logImpl" value="STDOUT_LOGGING" />

		<setting name="mapUnderscoreToCamelCase" value="true"/>

	</settings>

	<mappers>
		<mapper resource="mappers/ArticleMapper.xml"/>
		<mapper resource="mappers/AnswerMapper.xml"/>
		<mapper resource="mappers/GroupMapper.xml"/>
		<mapper resource="mappers/MessageMapper.xml"/>
		<mapper resource="mappers/MessageAndUserMapper.xml"/>
		<mapper resource="mappers/PraiseMapper.xml"/>
		<mapper resource="mappers/QuestionMapper.xml"/>
		<mapper resource="mappers/TagAndArticleMapper.xml"/>
		<mapper resource="mappers/TagMapper.xml"/>
		<mapper resource="mappers/UserMapper.xml"/>
	</mappers>
	
<!--	<typeAliases>-->
<!--		<package name="mappers"/>-->
<!--	</typeAliases>-->
</configuration>
