<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="grp.faq.dao.GroupDAO">

<!--    GroupEntity insertGroup(GroupEntity groupEntity);-->
    <insert id="insertGroup" parameterType="grp.faq.entity.GroupEntity" useGeneratedKeys="true" keyProperty="gid">
        INSERT INTO TB_GROUP(C_GID,C_GROUP_NAME,C_DESC,C_IS_DELETE) VALUES (#{gid},#{groupName},#{desc},#{isDelete})
    </insert>
<!--    List selectAll();-->
    <select id="selectAll" resultType="grp.faq.entity.GroupEntity">
        SELECT C_GID gid, C_GROUP_NAME groupName, C_DESC gdesc FROM TB_GROUP WHERE C_IS_DELETE=0
    </select>
<!--    GroupEntity selectByName(@Param("name")String name);-->
    <select id="selectByName" resultType="grp.faq.entity.GroupEntity">
        SELECT C_GID gid, C_GROUP_NAME groupName, C_DESC gdesc FROM TB_GROUP WHERE C_GROUP_NAME=#{name} AND C_IS_DELETE=0
    </select>
<!--    int deleteByName(@Param("name")String name);-->
    <select id="deleteByName">
        UPDATE TB_GROUP SET C_IS_DELETE=1 WHERE C_GID IN (SELECT C_GID FROM C_GROUP WHERE C_GOURP_NAME=#{name})
    </select>
</mapper>
