:root{
    --COLOR_THEME_DEFAULT: #4baeff;
    --COLOR_THEME_BLUE: #3e96fb;
}
*::-webkit-scrollbar{
    width: 2px;
    background: gray;
}
*::-webkit-scrollbar-thumb{
    width: 2px;
    background: var(--COLOR_THEME_DEFAULT);
}
body{
    margin: 0;
    padding: 0;
    background: rgba(250,250,250,1);
}
a{
    color: var(--COLOR_THEME_BLUE);
    cursor: pointer;
}
a:hover{
    text-decoration: underline;
    text-decoration-color: var(--COLOR_THEME_BLUE);
}
small{
    font-size: 13px;
}

.icon-tiny{
    width: 20px;
    height: 20px;
    margin: 5px;
}
.icon-small{
    width: 30px;
    height: 30px;
    margin: 5px;
}
.icon-middle{
    width: 50px;
    height: 50px;
    margin: 5px;
}
.triangle{
    float: left;
    width: 0; 
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color:transparent transparent var(--COLOR_THEME_DEFAULT) transparent;
    /* background: rgb(255, 98, 121); */
}
.triangle-wrapper{
    width: 100%;
    height: 10px;
    /* background: greenyellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*layout*/
.layout-center-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.layout-center-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.layout-xcenter-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.layout-xcenter-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.layout-ycenter-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.layout-ycenter-row{
    /* border-bottom: 2px solid rgba(100, 100, 100, 0.2); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*nav*/
div.nav{
    width: 100%;
    height: 50px;
}
div.nav ul{ display: inline; }
div.nav ul li{
    width: 100px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    font-size: 15px;
    cursor: pointer;
    transition-duration: 0.3s;
    color: rgba(85, 85, 85, 0.8);
}
div.nav ul li:hover{
    font-weight: 600;
    border-bottom: 1px solid rgba(85, 85, 85, 0.8);
}

.nav-left{
    display: inline-block;
    float: left;
    /* height: calc(100% - 50px); */
}
.nav-left table{
    width: 100%;
}
.nav-left table tr{
    color: gray;
    font-size: 15px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    transition-duration: .4s;
    cursor: pointer;
}
.nav-left table tr:hover{
    color: var(--COLOR_THEME_DEFAULT);
    background: rgba(100,100,100,0.1);
}

/*tbale*/

.tr-active{
    box-shadow: 2px 0px 0px 0px var(--COLOR_THEME_DEFAULT) inset;
    /* border-left: 3px solid var(--COLOR_THEME_DEFAULT); */
    color: var(--COLOR_THEME_DEFAULT);
}
.tr-active td{
    color: var(--COLOR_THEME_DEFAULT);
}

/*input*/
.input-line{
    width: 100%;
    height: 40px;
    outline: none;
    font-size: 17px;
    /* background: none; */
    border: 0 none;
    background-image: linear-gradient(var(--COLOR_THEME_DEFAULT),var(--COLOR_THEME_DEFAULT)),linear-gradient(gray,gray);
    background-size: 0px 2px,100% 1px;
    background-repeat: no-repeat; background-position: center bottom,center calc(100% - 1px);
    background-color: rgba(255,255,255,0);
    margin-bottom: 8px;
}
.input-line-active{
    background-size: 100% 2px,100% 1px;
    transition: all .5s;
    border: none;
    outline: none;
}
.input-line-normal{
    border: none;
    border-bottom: 1.5px solid rgba(255,255,255,0.5);
    background: none;
    outline: none;
    color: white;
    font-size: 14px;
}
/*button*/
button{
    border: none;
    outline: none;
    cursor: pointer;
}
.btn{
    width: 100%;
    height: 35px;
    transition-duration: .4s;
    color: whitesmoke;
    background: var(--COLOR_THEME_DEFAULT);
}
.btn-radius{
    border-radius: 5px;
}
.btn-tiny{
    width: 20px;
    height: 40px;
    background: var(--COLOR_THEME_DEFAULT);
}
.btn-normal{
    font-size: 14px;
    width: 90px;
    height: 30px;
    background: var(--COLOR_THEME_DEFAULT);
}
.btn:hover{
    color: var(--COLOR_THEME_DEFAULT);
    border: 1px solid var(--COLOR_THEME_DEFAULT);
    background: white;
}
.btn-unvaild{
    background: gray;
    color: white;
}
.btn:active{
    outline: none;
    color: white;
}


/*block*/
.block-base{
    background: rgba(255,255,255,1);
    box-shadow: 0px 0px 5px 5px rgba(100,100,100,0.1);
}
.block-title{
    width: 100%;
    height: 45px;
    font-size: 19px;
    line-height: 45px;
    color: rgba(100,100,100,0.8);
    /* background: limegreen; */
    border-left: 3px solid var(--COLOR_THEME_DEFAULT);
}
.block-title label{
    margin-left: 20px;
    float: left;
}
.block-title button{
    font-size: 13px;
    float: right;
    width: 70px;
    height: 30px;
    margin-top: 7px;
    margin-right: 20px;
    border-radius: 15px;
    color: whitesmoke;
    transition-duration: 0.3s;
    background: var(--COLOR_THEME_DEFAULT);
}
.block-title button:hover{
    border: 1px solid var(--COLOR_THEME_DEFAULT);
    background: white;
    color: var(--COLOR_THEME_DEFAULT);
    cursor: pointer;
}
.block-radius{
    border-radius: 5px;
}
.block-size-tiny-w{
    width: 200px;
    height: 100px;
}
.block-size-small-w{
    width: 300px;
    height: 200px;
}
.panel-title{
    display: inline-block;
    margin: 0 auto;
    /* margin-top: 30px; */
    width: 100%;
    height: 60px;
    border-radius: 5px 5px 0px 0px;
    /* border-left: 2px solid var(--COLOR_THEME_DEFAULT); */
    font-size: 13px;
    line-height: 60px;
    color: var(--COLOR_THEME_DEFAULT);
    padding-left: 25px;
    border-bottom: 1px solid rgba(100,100,100,0.2);
    /* background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(assets/img/mine.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
    /* border-bottom: 2px solid var(--COLOR_THEME_DEFAULT); */
}
.page-context{
    position: fixed;
    z-index: -10;
    top: 60px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    overflow:auto;
    /* background: lightcoral; */
}
.panel-body{
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 40px;
    border-radius: 5px;
    /* background: lightsalmon; */
}
.block-panel{
    /* overflow: auto; */
    display: inline-block;
    max-width: 100%;
    height: auto;
    /* max-height: 100%; */
    /* height: calc(100% - 50px); */
    padding: 30px;
    min-height: 550px;
    box-shadow: -1px 0px 0px 0px rgba(100,100,100,0.2);
    /* background: red; */
}
.pagefoot-wapper{
    width: 100%;
    background: var(--COLOR_THEME_DEFAULT);
    height: 50px;
}


/*floatwin*/



/*form*/
.form{

}
.form label{
    color: gray;
    font-size: 14px;
    height: 40px;
    margin: 10px;
}
.form label > input{
    height: 30px;
    transition-duration: 0.4s;
    margin: 10px;
    outline: none;
    border: none;
    /* border-radius: 5px; */
    border-bottom: 1px solid rgba(100,100,100,0.3);
}
.form label > input:focus{
    /* border: 1px solid var(--COLOR_THEME_DEFAULT); */
    border-bottom: 1.3px solid var(--COLOR_THEME_DEFAULT);
    /* box-shadow: 0px 0px 3px 3px var(--COLOR_THEME_DEFAULT);
    background: var(--COLOR_THEME_DEFAULT); */
}



/*normal*/
.tip{
    z-index: 9;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    cursor: pointer;
}
.tip-black{
    background: rgba(0,0,0,0.5);
}
.tip div{
    z-index: 10;
    font-size: 13px;
    position: fixed;
}


/*bottom-btn*/
.bottom-btn-group{
    position: fixed;
    right: 30px;
    bottom: 30px;
}
.bottom-btn-group div.bottom-btn{
    width: 50px;
    height: 50px;
    margin: 5px;
    color: white;
    font-size: 20px;
    transition-duration: .2s;
    box-shadow: 0px 0px 3px 3px rgba(100,100,100,0.2);
    border-radius: 100%;
    background: var(--COLOR_THEME_DEFAULT);
}
.bottom-btn-group div.bottom-btn:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.bottom-btn-group div.bottom-btn div.nav-content-btn-group{
    position: relative;
    width: 300px;
    height: 50px;
    background: red;
    right: +200px;
}

/*animate*/
.fade-enter-to,
.fade-leave{
    opacity: 1;
}
.fade-enter,
.fade-leave-to{
    opacity: 0;
}
.fade-enter-active,
.fade-leave-active{
    transition: all 0.4s ease;
}

.fade_slide_up-enter-to,
.fade_slide_up-leave{
    top:0;
    opacity: 1;
}
.fade_slide_up-enter,
.fade_slide_up-leave-to{
    top:20px;
    opacity: 0;
}
.fade_slide_up-enter-active,
.fade_slide_up-leave-active{
    transition: all 0.4s ease;
}


@keyframes in-scale {
    0% {
        opacity: 0;
        transform: scale(2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
#bigtip{
    z-index: 4;
    position: fixed;
    color: whitesmoke;
    font-size: 40px;
    left: 14%;
    top:40%;
}
.ani-rotate{
    transform:rotateX(360deg);
    -ms-transform:rotateX(360deg); 	/* IE 9 */
    -moz-transform:rotateX(360deg); 	/* FirefoX */
    -webkit-transform:rotateX(360deg); /* Safari 和 Chrome */
    -o-transform:rotateX(360deg); 	/* Opera */
    transition: all 0.9s ease-in-out;
    -moz-transition: all 0.9s ease-in-out; /* Firefox 4 */
    -webkit-transition: all 0.9s ease-in-out; /* Safari 和 Chrome */
    -o-transition: all 0.9s ease-in-out; /* Opera */
}